@model AuctionsWeb.Models.AuctionViewModel


<div class="row" >

    @Html.Partial("Card", Model.Auction)

    <div class="col m-md-4">
        <div class="container">
            <div id="resultDiv"></div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var notifications = $.connection.myHub;
            notifications.client.displayStatus = function () {
                console.log("triggered");
                getData();
            };

            $.connection.hub.start().done(function () {
                console.log("connection started");
                getData();
            }).fail(function(error) {
                alert(error)
            });
        });

        function getData() {
            console.log("getData() called");
            var model = $('#resultDiv');
            $.ajax({
                url: '/Home/InflateTable',
                data: 'idAuction=1',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    model.empty().append(data);
                }
            });
        }
    </script>

}