@model AuctionsWeb.Models.AuctionViewModel

@Html.HiddenFor(model => model.Auction.Id, new { id = "FieldId" })

<div class="row">

    <div class="col-4">
        <div class="container">
            <div id="auctionCard"></div>
        </div>

    </div>

    <div class="col-8">
        <div class="container">
            <div id="resultDiv"></div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var notifications = $.connection.myHub;
            notifications.client.displayStatus = function () {
                console.log("triggered");
                getData();
                getMoreData();
            };

            $.connection.hub.start().done(function () {
                console.log("connection started");
                getData();
                setInterval(getMoreData, 1000);
            }).fail(function(error) {
                alert(error)
            });
        });

        function getData() {
            var id = $('#FieldId').val()
            console.log("getData() called");
            var model = $('#resultDiv');
            $.ajax({
                url: '/Home/InflateTable',
                data: 'idAuction=' + id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    model.empty().append(data);
                }
            });
        }

        function getMoreData() {
            var id = $('#FieldId').val()
            console.log("getData() called");
            var model = $('#auctionCard');
            $.ajax({
                url: '/Home/InflateCard',
                data: 'idAuction=' + id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    model.empty().append(data);
                }
            });
        }
    </script>

}